In [1]:
import numpy as np
import pandas as pd

In [4]:
n = 20
x = np.linspace(.5, 1, n)
y = np.linspace(20, 80, n)

In [5]:
df = pd.DataFrame(np.column_stack([x, y]), columns=['x', 'y'])
df

           x          y
0   0.500000  20.000000
1   0.526316  23.157895
2   0.552632  26.315789
3   0.578947  29.473684
4   0.605263  32.631579
5   0.631579  35.789474
6   0.657895  38.947368
7   0.684211  42.105263
8   0.710526  45.263158
9   0.736842  48.421053
10  0.763158  51.578947
11  0.789474  54.736842
12  0.815789  57.894737
13  0.842105  61.052632
14  0.868421  64.210526
15  0.894737  67.368421
16  0.921053  70.526316
17  0.947368  73.684211
18  0.973684  76.842105
19  1.000000  80.000000